
- if @items
  .items
    - @items.each do |item|
      .item{:data => {'id' => item.id}}
        - if item.nsfw and not show_nsfw?
          %img{ :src => '/images/nsfw_placeholder.png', 
            :alt => (item.title || item.source),
            :width => '200',
            :height => '200',
            :class => 'thumbnail' }
        - else
          %a{ :href => (item.type=='image' ? item.image.web : item.source), 
            :class => 'fancybox' + (item.type != 'image' ? ' fancybox.ajax' : ''), 
            :data => {'fancybox-title' => item.html_title,
            'fancybox-href' => (item.type != 'image' ? ('/embed/%d' % item.id) : item.image.web)},
            :title => "#{item.id} - #{item.title || item.source}",
            :rel => 'gallery' }
            - if item.type == 'video'
              %img{ :src => '/images/video-overlay.png', :class => 'overlay', :alt => 'audio' }
            %img{ :src => (item.image ? item.image.thumbnail(200).web : "/images/#{item.type}.png"), 
              :alt => (item.title || item.source),
              :width => '200',
              :height => '200',
              :class => 'thumbnail' }
            - if item.title
              .title-overlay #{truncate(item.title, 33)}

        .item-meta
          %ul{ :id => "tagsforitem-#{item.id}", :class => 'taglist' } 
            - item.tags.each do |tag|
              %li 
                %a{ :href => "/show/tag/#{escape tag.tagname}", :class => 'taglink' }> #{h shorten(tag.tagname)}
          %div.clear

        %form.tag{ :action => "/update", :method => 'post', :id => "formforitem-#{item.id}" }
          %input{ :type => 'hidden', :name => 'id', :value => "#{item.id}" }
          %input{ :type => 'text', :name => 'add_tags', :size => 10, :class => 'autocomplete' }
          %input{ :type => 'hidden', :name => 'del_tags' }
          %input.tagpush{ :type => 'submit', :value => 'tag!' }

        - if item.dm_user_id == current_user.id or current_user.admin?
          %form.delete{ :action => "/delete", :method => 'post' }
            %input{ :type => 'hidden', :name => 'id', :value => "#{item.id}" }
            %input{ :type => 'hidden', :name => 'return_to', :value => request.fullpath }
            %input.tagpush{ :type => 'submit', :value => 'X' }

  %div.clear

  #pagination  
    = pagination

