#content

  - if @items
    %ul.items
      - @items.each do |item|
        %li
          %a{ :href => (item.type=='image' ? item.image : item.source), 
            :class => (item.type=='image' ? 'fancy' : 'embed'), 
            :data => {:htmltitle => item.html_title},
            :title => (item.title || item.source),
            :rel => 'group' }
            - if item.type == 'video'
              %img{ :src => '/images/video-overlay.png', :class => 'overlay' }
            %img{ :src => (item.image ? item.image.thumbnail : "/images/#{item.type}.png"), 
              :alt => (item.title || item.source),
              :width => '200px',
              :height => '200px',
              :class => 'thumbnail' }

          .item-meta
            %ul{ :id => "tagsforitem-#{item.id}", :class => 'taglist' } 
              - item.tags.each do |tag|
                %li 
                  %a{ :href => "/filter/by/tag/#{escape tag.tagname}", :class => 'taglink' }> #{h shorten(tag.tagname)}
              %div.clear
          %form.tag{ :action => "/#{item.id}/update", :method => 'post', :id => "formforitem-#{item.id}" }
            %input{ :type => 'text', :name => 'add_tags', :size => 10, :class => 'autocomplete' }
            %input.tagpush{ :type => 'submit', :value => 'tag!' }
          -if current_user.admin?
            %form.delete{ :action => "/#{item.id}/delete", :method => 'post' }
              %input{ :type => 'hidden', :name => 'return_to', :value => request.fullpath }
              %input.tagpush{ :type => 'submit', :value => 'X' }
  #pagination  
    = pagination
