#content

  - if @items
    %ul.items
      - @items.each do |item|
        %li
          - if item.image.thumbnail.to_s
            - image = item.image.thumbnail.to_s
          - else
            - image = "images/#{item.type}.png"

          - if item.type == "image"
            %a{ :href => item.image, :class => 'fancy', :title => "#{item.name} at #{item.dimensions}" }
              %img{ :src => image, :width => '200px', :height => '200px', :class => 'thumbnail' }
          - elsif item.type == "video"
            %a{ :href => item.source, :class => 'embed', :title => item.name }
              %img{ :src => '/images/video-overlay.png', :class => 'overlay' }
              %img{ :src => image, :width => '200px', :height => '200px', :class => 'thumbnail' }
          - else
            %a{ :href => item.source, :class => 'embed', :title => item.name }
              %img{ :src => image, :width => '200px', :height => '200px', :class => 'thumbnail' }

          .item-meta
            %ul{ :id => "tagsforitem-#{item.id}", :class => 'taglist' } 
              - item.tags.each do |tag|
                %li 
                  %a{ :href => "/filter/by/tag/#{tag.tagname}", :class => 'taglink' }> #{tag.tagname}
          %form.tag{ :action => "/edit/#{item.id}", :method => 'post', :id => "formforitem-#{item.id}" }
            %input{ :type => 'text', :name => 'add_tags', :size => 10 }
            %input.tagpush{ :type => 'submit', :value => 'tag!' }
  -#%div.clear
  #pagination  
    = @pagination
