#content

  %form#create{ :action => '/new', :method => 'post', :enctype => 'multipart/form-data' }
    %fieldset
      %ol
        %li
          %label{ :for => 'image_upload' } Image Upload:
          %input{ :type => 'file', :name => 'image_upload' }
        %li
          %label{ :for => 'image_url' } Remote URL (images will be fetched, else it'll get embedded):
          %input{ :type => 'text', :name => 'remote_url', :size => 38 }
        %li.last      
          %input{ :type => 'submit', :value => 'upload!' }

  - if @items
    %ul.items
      - @items.each do |item|
        %li
          - if item.type == "image"
            %a{ :href => "#{item.image}", :class => 'pirobox', :title => "#{item.name} at #{item.dimensions}" }
              %img{ :src => "#{item.image.thumbnail}", :width => '200px', :height => '200px' }
          - else
            %a{ :href => "#{item.source}" }
              %img{ :src => "/images/#{item.type}.png", :width => '200px', :height => '200px' }
          #item-meta
            Tags:
            - item.tags.each do |tag|
              & #{tag.tagname}
          %form#tags{ :action => "/edit/#{item.id}", :method => 'post' }
            %input{ :type => 'text', :name => 'tag', :size => 10 }
            %input{ :type => 'submit', :value => 'add' }
  %div.clear

