#content

  %form#create{ :action => '/new', :method => 'post', :enctype => 'multipart/form-data' }
    %fieldset
      %ol
        %li
          %label{ :for => 'image_upload' } Image Upload:
          %input{ :type => 'file', :name => 'image_upload' }
        %li
          %label{ :for => 'image_url' } Remote URL (images will be fetched, else it'll get embedded):
          %input{ :type => 'text', :name => 'remote_url', :size => 38 }
        %li.last      
          %input{ :type => 'submit', :value => 'upload!' }

  - if @items
    %ul.items
      - @items.each do |item|
        %li
          - if item.type == "image"
            %a{ :href => "#{item.image}", :class => 'fancy', :rel => 'group', :title => "#{item.name} at #{item.dimensions}" }
              %img{ :src => "#{item.image.thumbnail}", :width => '200px', :height => '200px' }
          - else
            %a{ :href => "#{item.source}", :class => "#{item.name}" }
              %img{ :src => "/images/#{item.type}.png", :width => '200px', :height => '200px' }
          .item-meta
            Tags:
            %span{ :id => "tagsforitem-#{item.id}", :class => 'taglist' } 
              - item.tags.each do |tag|
                %a{ :href => "/filter/by/tag/#{tag.tagname}", :class => 'taglink' } #{tag.tagname}
          %form.tag{ :action => "/edit/#{item.id}", :method => 'post', :id => "formforitem-#{item.id}" }
            %input{ :type => 'text', :name => 'tag', :size => 10 }
            %input.tagpush{ :type => 'submit', :value => 'add' }
  %div.clear

