#content

  - if @items
    %ul.items
      - @items.each do |item|
        %li
          - if item.image
            - image = item.image.thumbnail
          - else
            - image = "images/#{item.type}.png"

          - if item.type == "image"
            %a{ :href => item.image, :class => 'fancy', :title => "\##{item.id}: #{item.title} at #{item.dimensions}", :rel => 'group' }
              %img{ :src => image, :width => '200px', :height => '200px', :class => 'thumbnail' }
          - elsif item.type == "video"
            %a{ :href => item.source, :class => 'embed', :title => "\##{item.id}: #{item.title}", :rel => 'group' }
              %img{ :src => '/images/video-overlay.png', :class => 'overlay' }
              %img{ :src => image, :width => '200px', :height => '200px', :class => 'thumbnail' }
          - else
            %a{ :href => item.source, :class => 'embed', :title => "\##{item.id}: #{item.title}", :rel => 'group' }
              %img{ :src => image, :width => '200px', :height => '200px', :class => 'thumbnail' }

          .item-meta
            %ul{ :id => "tagsforitem-#{item.id}", :class => 'taglist' } 
              - item.tags.each do |tag|
                %li 
                  %a{ :href => "/filter/by/tag/#{tag.tagname}", :class => 'taglink' }> #{tag.tagname}
              %div.clear
          %form.tag{ :action => "/#{item.id}/update", :method => 'post', :id => "formforitem-#{item.id}" }
            %input{ :type => 'text', :name => 'add_tags', :size => 10, :class => 'autocomplete' }
            %input.tagpush{ :type => 'submit', :value => 'tag!' }
          -if current_user.admin?
            %form.delete{ :action => "/#{item.id}/delete", :method => 'post' }
              %input.tagpush{ :type => 'submit', :value => 'X' }
  #pagination  
    = pagination
