#content

  - if @items
    %ul.items
      - @items.each do |item|
        %li
          - if item.type == "image"
            %a{ :href => "#{item.image}", :class => 'fancy', :rel => 'group', :title => "#{item.name} at #{item.dimensions}" }
              %img{ :src => "#{item.image.thumbnail}", :width => '200px', :height => '200px' }
          - elsif item.type == "youtube"
            %a{ :href => "#{item.source}", :class => "#{item.name}", :rel => "#{item.name}" }
              %img{ :src => "/images/#{item.type}.png", :width => '200px', :height => '200px' }
          - else
            %a{ :href => "#{item.source}", :class => "#{item.name} embed", :rel => "#{item.name}" }
              %img{ :src => "/images/#{item.type}.png", :width => '200px', :height => '200px' }
          .item-meta
            Tags:
            %span{ :id => "tagsforitem-#{item.id}", :class => 'taglist' } 
              - item.tags.each do |tag|
                %a{ :href => "/filter/by/tag/#{tag.tagname}", :class => 'taglink' } #{tag.tagname}
          %form.tag{ :action => "/edit/#{item.id}", :method => 'post', :id => "formforitem-#{item.id}" }
            %input{ :type => 'text', :name => 'add_tags', :size => 10 }
            %input.tagpush{ :type => 'submit', :value => 'tag!' }
  -#%div.clear
  #pagination  
    = @pagination
