
#wrapper
  #panel
    // left-side, title, thumbnail, meta line tags
    .item
      - if @item.title
        %h1
          %a{ :href => (@item.type=='image' ? @item.image.web : @item.source), 
            :title => "#{@item.id} - #{@item.title || @item.source}"} #{@item.title}

      // display preview image 480p thumbnail

      - if %w{audio video}.include? @item.type
        #{@item.embed(480, 288)}
      - else
        %div.overlay_wrapper
          %a{ :href => (@item.type=='image' ? @item.image.web : @item.source), 
              :class => 'fancybox',
              :data => {'fancybox-title' => @item.html_title,
              'fancybox-href' => @item.image.web},
              :title => "#{@item.id} - #{@item.title || @item.source}" }
            - if @item.image.thumbnail(480).exists?
              %img{ :src => @item.image.thumbnail(480).web }
            - elsif @item.type == 'audio'
              %img{ :src => '/images/audio.png' }
            - else
              %img{ :src => @item.image.web }

            - if @item.type == 'video'
              .overlay 
                %img{ :src => '/images/overlay_video.png' }

      .meta
        %ul.middot_list
          %li.first #{@item.type == 'image' ? @item.mimetype : @item.type}
          %li
            %a{:href => '/%d' % @item.id} #{@item.id}
          %li posted #{@item.created_at.strftime('%e %B %Y, %H:%M %Z')}
          - if @item.source
            %li
              %a{:href => @item.source, :title => @item.title} source

      .item-meta
        %ul{ :id => "tagsforitem-#{@item.id}", :class => 'taglist' } 
          - @item.tags.each do |tag|
            %li 
              %a{ :href => "/show/tag/#{escape tag.tagname}", :class => 'taglink' }> #{h shorten(tag.tagname)}
        %div.clear

      %form.tag{ :action => "/update", :method => 'post', :id => "formforitem-#{@item.id}" }
        %input{ :type => 'hidden', :name => 'id', :value => "#{@item.id}" }
        %input{ :type => 'text', :name => 'add_tags', :size => 10, :class => 'autocomplete' }
        %input{ :type => 'hidden', :name => 'del_tags' }
        %input.tagpush{ :type => 'submit', :value => 'tag!' }

      - if @item.dm_user_id == current_user.id or current_user.admin?
        %form.delete{ :action => "/delete", :method => 'post' }
          %input{ :type => 'hidden', :name => 'id', :value => "#{@item.id}" }
          %input{ :type => 'hidden', :name => 'return_to', :value => request.fullpath }
          %input.tagpush{ :type => 'submit', :value => 'delete' }

    .right
      .navigation
        .prev
          - if @prev
            %a{ :href => '/%d' % @prev.id } &laquo; Previous
            %a{ :href => '/%d' % @prev.id }
              %img{ :src => (@prev.image ? @prev.image.thumbnail(200).web : "/images/#{@prev.type}.png"), 
                :alt => (@prev.title || @prev.source),
                :width => '150',
                :height => '150',
                :class => 'thumbnail' }
        .next
          - if @next
            %a{ :href => '/%d' % @next.id } Next &raquo;
            %a{ :href => '/%d' % @next.id }
              %img{ :src => (@next.image ? @next.image.thumbnail(200).web : "/images/#{@next.type}.png"), 
                :alt => (@next.title || @next.source),
                :width => '150',
                :height => '150',
                :class => 'thumbnail' }




    //     %a.prev Previous
    //     %a.next Next
    //   .similar
    //     %h2 Mock Similar Items
    // - if @next
    //   %p Next: #{@next.id}
    // - if @prev
    //   %p Prev: #{@prev.id}


