!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    %link{ :rel => 'alternate', :href => '/feed', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items" }
    %link{ :rel => 'alternate', :href => '/feed/nsfw', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items (NSFW!)" }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/livequery.js' }
    %script{ :src => '/js/form.js' }
    %script{ :src => '/js/expander.js' }
    %script{ :src => '/js/fancybox.js' }
    %script{ :src => '/js/easing.js' }
    %script{ :src => '/js/mousewheel.js' }
    %script{ :src => '/js/autocomplete.js' }
    %script{ :src => '/js/zeitgeist.js' }
    - if @autoload
      :javascript
        jQuery(function() {
          $('a.fancy:#{@autoload}').trigger('click');
        });
  %body
    - if flash[:error] or flash[:notice]
      %div{ :class => 'error message' }
        %p
          = h flash[:error] if flash[:error]
          = h flash[:notice] if flash[:notice]
    - if flash[:success]
      %div{ :class => 'success message' }
        %p
          = h flash[:success]
        %div#dump
    #sitenav
      %a{ :href => '/new', :class => 'fancynav' } Add
      |
      %a{ :href => '/search', :class => 'fancynav' } Search
      |
      - if logged_in?
        %a{ :href => '/logout' } Logout
        |
        %a{ :href => '/users/%d/edit' % current_user.id } Edit Profile
      - else
        %a{ :href => '/login', :class => 'fancynav' } Login
    = partial(:_header)
    #wrapper
      = partial(:_navigation)
      = yield
      %div.clear
      = partial(:_footer)
