!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    %link{ :rel => 'alternate', :href => '/feed', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items" }
    %link{ :rel => 'alternate', :href => '/feed/nsfw', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items (NSFW!)" }
    %script{ :src => '/static/zeitgeist.js' }
  %body
    - if flash[:error]
      %div{ :class => 'error message' }
        %h3
          Something went seriously wrong
        %p
          = h flash[:error]
    - if flash[:notice]
      %div{ :class => 'success message' }
        %h3
          Epic win
        %p
          = h flash[:notice]
        %div#dump
    = partial(:_header)
    #wrapper.container-fluid
      = yield
      %div.clear
    = partial(:_navigation)
