!!!
%html
  %head
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/jquery.pirobox.min.js' }
    %script{ :src => '/js/jquery.noisy.min.js' }
    %script{ :src => '/js/jquery.form.min.js' }
    %script{ :src => '/js/zeitgeist.js' }

  %body
    - if flash[:error]
      #notification.error
        %span
          = flash[:error]
    - if flash[:notice]
      #notification.notice
        %span
          = flash[:notice]
        %div#dump
    #wrapper
      %h1
        %a{ :href => '/' } #{settings.pagetitle}
      %nav
        %a{ :href => '/filter/by/type/video' } Video
        |
        %a{ :href => '/filter/by/type/audio' } Audio
        |
        %a{ :href => '/filter/by/type/image' } Images
      = yield
      %footer
        %a{ :href => '#wrapper'} &uarr;
      %a{ :href => 'https://github.com/jessor/zeitgeist', :id => 'github' }
        %span Fork this on GitHub
