!!!
%html
  %head
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    %link{ :rel => 'alternate', :href => '/feed', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items" }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/jquery.noisy.min.js' }
    %script{ :src => '/js/jquery.form.min.js' }
    %script{ :src => '/js/jquery.expander.min.js' }
    %script{ :src => '/js/jquery.fancybox.js' }
    %script{ :src => '/js/jquery.easing.pack.js' }
    %script{ :src => '/js/jquery.mousewheel.pack.js' }
    %script{ :src => '/js/jquery.autocomplete.min.js' }
    %script{ :src => '/js/jquery.livequery.js' }
    %script{ :src => '/js/zeitgeist.js' }
    - if @autoload
      :javascript
        jQuery(function() {
          $('a.fancy:#{@autoload}').trigger('click');
        });
  %body
    - if flash[:error]
      %div{ :class => 'error message' }
        %h3
          Something went seriously wrong
        %p
          = flash[:error]
    - if flash[:notice]
      %div{ :class => 'success message' }
        %h3
          Epic win
        %p
          = flash[:notice]
        %div#dump
    %header
      %a{ :href => '/' }
        %img{ :src => '/images/logo.png', :alt => 'logo' }
    #wrapper
      %nav
        %a{ :href => '/new', :class => 'fancynav' } Add
        |
        %a{ :href => '/search', :class => 'fancynav' } Search
        |
        %a{ :href => '/filter/by/type/video', :class => 'nav' } Video
        |
        %a{ :href => '/filter/by/type/audio' } Audio
        |
        %a{ :href => '/filter/by/type/image' } Images
      = yield
      %div.clear
      %footer
        %a{ :href => '#wrapper'} &uarr;
        %div
          %a{ :href => '/about', :class => 'fancynav' } About
