!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    %link{ :rel => 'alternate', :href => '/feed', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items" }
    %link{ :rel => 'alternate', :href => '/feed/nsfw', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items (NSFW!)" }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/livequery.js' }
    %script{ :src => '/js/form.js' }
    %script{ :src => '/js/fancybox.js' }
    %script{ :src => '/js/fancybox-buttons.js' }
    %script{ :src => '/js/easing.js' }
    %script{ :src => '/js/autocomplete.js' }
    %script{ :src => '/js/masonry.min.js' }
    %script{ :src => '/js/imagesloaded.js' }
    %script{ :src => '/js/bootstrap-dropdown.js' }
    %script{ :src => '/js/zeitgeist.js' }
    - if @autoload
      :javascript
        jQuery(function() {
          $('a.fancy:#{@autoload}').trigger('click');
        });
  %body
    - if flash[:error]
      %div{ :class => 'error message' }
        %h3
          Something went seriously wrong
        %p
          = flash[:error]
    - if flash[:notice]
      %div{ :class => 'success message' }
        %h3
          Epic win
        %p
          = flash[:notice]
        %div#dump
    = partial(:_header)
    #wrapper.container-fluid
      = yield
      %div.clear
    = partial(:_navigation)
