!!!
%html
  %head
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/jquery.pirobox.min.js' }
    %script{ :src => '/js/jquery.noisy.min.js' }
    %script{ :src => '/js/jquery.form.min.js' }
    :javascript
      jQuery(function(){
        $('body').noisy({
          'intensity' : 1, 
          'size' : '200', 
          'opacity' : 0.034, 
          'fallback' : '', 
          'monochrome' : false
        });
        $().piroBox({
          my_speed: 100, //animation speed
          bg_alpha: 0.8, //background opacity
          slideShow : 'false', // true == slideshow on, false == slideshow off
          close_all : '.piro_close' // add class .piro_overlay(with comma)if you want overlay click close piroBox
        });
        $('form.tag').submit(function() {
          var Id = $(this).attr("id")
          var tagtarget = '#' + Id.replace(/formfor/, 'tagsfor')
          var options = {
            target: tagtarget,
            resetForm: true
          };
          $(this).ajaxSubmit(options);
          return false;
        });
      });
  %body
    - if flash[:error]
      #notification.error
        %span
          = flash[:error]
    - if flash[:notice]
      #notification.notice
        %span
          = flash[:notice]
        %div#dump
    #wrapper
      %h1
        #{settings.pagetitle}
      %nav
        %a{ :href => '/filter/video' } Video
        |
        %a{ :href => '/filter/audio' } Audio
        |
        %a{ :href => '/filter/image' } Images
      = yield
      %footer
        %a{ :href => '#wrapper'} &uarr;
