!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/css/ui-lightness/jquery-ui-1.8.21.custom.css' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    %link{ :rel => 'alternate', :href => '/feed', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items" }
    %link{ :rel => 'alternate', :href => '/feed/nsfw', :type => 'application/rss+xml', :title => "#{settings.pagetitle} New items (NSFW!)" }
    - if @tag
      %link{ :rel => 'alternate', :href => "/feed/tag/#{@tag}", :type => 'application/rss+xml', :title => "#{settings.pagetitle} Tagged items: #{@tag}" }
    %script{ :src => '/js/jquery-1.7.2.js' }
    %script{ :src => '/js/ui/jquery-ui-1.8.21.custom.js' }

    %script{ :src => '/js/livequery.js' }
    %script{ :src => '/js/form.js' }
    %script{ :src => '/js/expander.js' }
    %script{ :src => '/js/easing.js' }
    %script{ :src => '/js/jquery.scrollintoview.js' }

    %script{ :src => '/js/jquery.isotope.js' }
    %script{ :src => '/js/masonry_centered.js' }
    %script{ :src => '/js/jquery.infinitescroll.js' }

    %script{ :src => '/js/jquery.mousewheel.js' }
    %link{ :rel => 'stylesheet', :href => '/fancybox/jquery.fancybox.css' }
    %link{ :rel => 'stylesheet', :href => '/fancybox/helpers/jquery.fancybox-buttons.css' }
    %script{ :src => '/fancybox/jquery.fancybox.js' }
    %script{ :src => '/fancybox/helpers/jquery.fancybox-buttons.js' }

    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %script{ :src => '/js/zeitgeist.js' }

  %body
    - if flash[:error]
      %div{ :class => 'error message' }
        %p
          = h flash[:error]
    - if flash[:notice]
      %div{ :class => 'success message' }
        %p
          = h flash[:notice]
        %div#dump
    #sitenav
      %a{:href => '/new'} Add
      |
      %a{:href => '/search'} Search
      |
      - if logged_in?
        %a{:href => '/logout' } Logout
        |
        %a{:href => '/users/%d/edit' % current_user.id } Edit Profile
      - else
        %a{:href => '/login'} Login
    = partial(:_header)
    #wrapper
      = partial(:_navigation)
      = yield
      %div.clear
      = partial(:_footer)
