#content

  %h2
    = @title

  - if @items
    %ul.list
      - @items.each do |item|
        %li
          - case params[:attribute]
          - when 'tags'
            %a{ :href => "/show/tag/#{item.tagname}" }
              = "#{item.tagname}"
          - when 'dimensions'
            %a{ :href => "/show/dimensions/#{item.dimensions}" }
              = "#{item.dimensions}"
