#content

  %h2
    = @title

  %select#ratio_select
    %option{:value => ''} Filter by common ratio
    - @common_ratios.each do |ratio|
      %option{:selected => (ratio == @ratio ? true : false)} #{ratio}

  %ul.list_dimensions
    - @dimensions.each do |dimension|
      %li
        %a{:href => "/show/dimensions/#{dimension[0]}",
           :style => "font-size: #{weighted_size(dimension[1], @min, @max)}px",
           :title => dimension[2]}
          #{dimension[0]}

